<?xml version="1.0"?>
<config>
    <modules>
        <Mygento_Simplepay>
            <version>1.0.2</version>
        </Mygento_Simplepay>
    </modules>
    <global>
        <blocks>
            <simplepay>
                <class>Mygento_Simplepay_Block</class>
            </simplepay>
        </blocks>
        <helpers>
            <simplepay>
                <class>Mygento_Simplepay_Helper</class>
            </simplepay>
        </helpers>
        <models>
            <simplepay>
                <class>Mygento_Simplepay_Model</class>
                <resourceModel>simplepay_resource</resourceModel>
            </simplepay>
            <simplepay_resource>
                <class>Mygento_Simplepay_Model_Resource</class>
                <deprecatedNode>simplepay_mysql4</deprecatedNode>
                <entities>
                    <keys>
                        <table>mygento_simplepay_keys</table>
                    </keys>
                </entities>
            </simplepay_resource>
        </models>
        <resources>
            <simplepay_setup>
                <setup>
                    <module>Mygento_Simplepay</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </simplepay_setup>
            <simplepay_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </simplepay_write>
            <simplepay_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </simplepay_read>
        </resources>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <simplepay>
                    <files>
                        <default>Mygento_Simplepay.csv</default>
                    </files>
                </simplepay>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <payment>
            <simplepay>
                <active>0</active>
                <debug>0</debug>
                <redirect>1</redirect>
                <title>SimplePay</title>
                <lifetime>3600</lifetime>
                <test>1</test>
            </simplepay>
            <simplepay_1>
                <title>SimplePay 1</title>
                <model>simplepay/m1</model>
                <sort_order>11</sort_order>
            </simplepay_1>
            <simplepay_2>
                <title>SimplePay 2</title>
                <model>simplepay/m2</model>
                <sort_order>12</sort_order>
            </simplepay_2>
            <simplepay_3>
                <title>SimplePay 3</title>
                <model>simplepay/m3</model>
                <sort_order>13</sort_order>
            </simplepay_3>
            <simplepay_4>
                <title>SimplePay 4</title>
                <model>simplepay/m4</model>
                <sort_order>14</sort_order>
            </simplepay_4>
        </payment>
    </default>
    <admin>
        <routers>
            <simplepay>
                <use>admin</use>
                <args>
                    <module>Mygento_Simplepay</module>
                    <frontName>simplepay</frontName>
                </args>
            </simplepay>
        </routers>
    </admin>
</config>